/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TIPOGRAFÍA */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #0f172a; /* fondo oscuro elegante */
  color: #e2e8f0;
}

/* SCROLL */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

/* INPUTS GENERALES */
input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #334155;
  background: #1e293b;
  color: white;
  outline: none;
  transition: 0.2s;
}

input:focus {
  border-color: #38bdf8;
}

/* BOTONES */
button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
  color: #0f172a;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #0ea5e9;
}

/* TABLAS */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background: #1e293b;
}

tr:nth-child(even) {
  background: #0f172a;
}

tr:nth-child(odd) {
  background: #020617;
}